/*
 * Copyright (C) 2014  Wil Mahan <wmahan@gmail.com>
 *
 * This file is part of Mater.
 *
 * Mater is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Mater is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Mater.  If not, see <http://www.gnu.org/licenses/>.
 */

.tomatoIcon {
    background-image: url(/mater/resources/img/tomato16x16.png) !important;
    background-repeat: no-repeat;
}

.welcome {
    font-size: 150%;
    text-align: center;
    padding-bottom: 15px;
}

.consoleWin {
    font-family: monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#consoleText {
    background-color: #000000;
    color: #ffffff;
    /*font-size: 13px;*/
}

#consoleText div {
    color: #ffffff;
    background-color: inherit;
    line-height: 125%;
    border: 0;
}

#consoleText a:visited, #consoleText a:link {
    color: #d0d0ff;
}
#consoleText a:hover {
    color: #a0a0ff;
}

#commandText {
    /*margin-top: 10px;*/
    font-family: monospace;
}

#logonScript textarea {
    font-family: monospace;
}

.sentCommand {
    color: #ff6060;
}

.tell {
    color: #000080;
}

.infoPane {
    padding-left: 10px;
    padding-right: 5px;
}

.clockTime {
    font-size: 325%;
    padding: 0px 8px;
    margin-left: -7px;
    margin-bottom: 5px;
}

.clockLabel {
    font-size: 125%;
    padding-top: 15px;
    padding-left: 0px;
    margin-bottom: 5px;
}

.clockLag {
    padding-top: 15px;
    font-size: 90%;
    margin-left: 5px;
}

.clockToMove {
    color: #ffffff;
    background-color: #000090;
}

.chatTab {
    padding: 7px;
}

.chatUsername {
    font-weight: bold
}

.newChat {
    background-image: url('/mater/resources/img/16px-speech_bubble.png');
    background-repeat: no-repeat;
}

.drawButton {
    margin-top: 20px;
}

.closeButton {
    margin-top: 20px;
}

.resignButton {
    margin-top: 5px;
}

.flipButton {
    background-image: url(/mater/resources/img/flip.png) !important;
    margin-top: 5px;
    background-repeat: no-repeat;
}

.back999Button {
    background-image: url(/mater/resources/img/back999.png) !important;
    background-repeat: no-repeat;
}

.backButton {
    background-image: url(/mater/resources/img/back.png) !important;
    background-repeat: no-repeat;
}

.forwardButton {
    background-image: url(/mater/resources/img/forward.png) !important;
    background-repeat: no-repeat;
}

.forward999Button {
    background-image: url(/mater/resources/img/forward999.png) !important;
    background-repeat: no-repeat;
}

.timesealIcon {
    margin-top: 0;
    margin-bottom: -10px;
    margin-left: 5px;
    margin-right: 0;
    padding: 0;
}

.x-menu-item-icon {
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
}

.x-menu-item-link {
    line-height: 24px;
}

.x-menu-icon-separator {
    left: 32px;
}

.x-menu-item-text {
    font-size: 15px;
    padding-left: 15px;
}

.x-btn-default-toolbar-medium .x-btn-inner {
    font-size: 15px;
}

.logoutButton {
    background-image: url(/mater/resources/img/log_out.png) !important;
}

.ficsIcon {
    background-image: url(/mater/resources/img/fics.png) !important;
    background-repeat: no-repeat;
}

.checkMark {
    font-weight: bold;
}

.fingerText {
    font-family: monospace;
    white-space: pre-wrap;
    padding: 5px;
}

.newsText {
    white-space: pre-wrap;
}

.gameChatTab {
    font-family: monospace;
    white-space: pre-wrap;
    padding: 5px;
}

/* vim: expandtab tabstop=4 softtabstop=4 shiftwidth=4 smarttab autoindent
 */
